<mat-card class="example-card" >
    <mat-card-header >
      <mat-card-title >
        <mat-toolbar>
            <span>Administrar Sedes</span>
            <div class="menu-spacer"></div>
            <span  class="btn-derecha" >
                <button   mat-raised-button color="primary" (click)="AbrirModalOferta(0)">Agregar</button>
            </span>
        </mat-toolbar>
 
      </mat-card-title>
      <mat-card-subtitle >
        <br>
        <form>
            <mat-form-field class="Tamanho100Porciento" >
                <mat-label>Filtro de Busqueda:</mat-label>
                <input matInput #txtFiltro name="txtFiltro" [(ngModel)]="filtroBusqueda" (input)="search($any($event))">
            </mat-form-field>
        </form>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="idEmpresa">
                <th mat-header-cell *matHeaderCellDef> Empresa </th>
                <td mat-cell *matCellDef="let element"> 
                    {{encontrarNombreEmpresa(element.idEmpresa)}}
                </td>
            </ng-container>

            <ng-container matColumnDef="idDestinoInicio">
                <th mat-header-cell *matHeaderCellDef> Destino Inicial </th>
                <td mat-cell *matCellDef="let element"> 
                    {{element.idDestinoInicio}}
                </td>
            </ng-container>

            <ng-container matColumnDef="idDestinoFin">
                <th mat-header-cell *matHeaderCellDef> Destino Final </th>
                <td mat-cell *matCellDef="let element"> 
                    {{element.idDestinoFin}}
                </td>
            </ng-container>

            <ng-container matColumnDef="idTipoOrientacionDeLaOferta">
                <th mat-header-cell *matHeaderCellDef> Contacto </th>
                <td mat-cell *matCellDef="let element"> 
                    {{encontrarNombreTipoOrientacionDeLaOferta(element.idTipoOrientacionDeLaOferta)}}
                </td>
            </ng-container>

            <ng-container matColumnDef="tituloOferta">
                <th mat-header-cell *matHeaderCellDef> Titulo Oferta </th>
                <td mat-cell *matCellDef="let element"> 
                    {{element.tituloOferta}}
                </td>
            </ng-container>

            <ng-container matColumnDef="fechaInicialOferta">
                <th mat-header-cell *matHeaderCellDef>Fecha Inicio Oferta </th>
                <td mat-cell *matCellDef="let element"> 
                    {{element.fechaInicialOferta}}
                    
                </td>
            </ng-container>

            <ng-container matColumnDef="horaInicialOferta">
                <th mat-header-cell *matHeaderCellDef> Hora Inicio Oferta </th>
                <td mat-cell *matCellDef="let element"> 
                    {{element.horaInicialOferta}}
                </td>
            </ng-container>

            <ng-container matColumnDef="estadoOferta">
                <th mat-header-cell *matHeaderCellDef><div fxFlexFill fxLayoutAlign="center center">
                   Oferta Activa
                </div>  </th>
                <td mat-cell *matCellDef="let element"> 
                    <div fxFlexFill fxLayoutAlign="center center">
                        <mat-icon *ngIf="element.estadoOferta" color="tiene">check</mat-icon>
                        <mat-icon *ngIf="!element.estadoOferta" color="notiene">close</mat-icon>
                    </div>
                </td>
            </ng-container>
           
        
            <ng-container matColumnDef="editar" >
                <th mat-header-cell *matHeaderCellDef >  </th>
                <td  mat-cell *matCellDef="let element"> 
                    <mat-button-toggle-group style="border: none;" >
                        <button type="button" matTooltip="Editar"  mat-button  color="primary" aria-label="editar departamento" (click)="AbrirModalOferta(element.idOferta)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-button-toggle-group>
                    
                </td>
            </ng-container>
        
            <ng-container matColumnDef="borrar" >
                <th mat-header-cell *matHeaderCellDef >  </th>
                <td  mat-cell *matCellDef="let element"> 
                    <mat-button-toggle-group style="border: none;" >
                        <button type="button"  matTooltip="Borrar" mat-button color="warn" aria-label="borrar departamento" (click)="borrarXId(element.idOferta)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-button-toggle-group>
                    
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{txtFiltro.value}}"</td>
            </tr>
        </table>
    </mat-card-content>
    <mat-card-actions align="end">
        <mat-paginator [pageSizeOptions]="arraypaginator" aria-label="Select pagePayer of _Payers"></mat-paginator>
        
    </mat-card-actions>
  </mat-card>



