<p>tipos-de-puntos-de-control works!</p>
<form [formGroup]="FGAgregarTiposDePuntosDeControl" (ngSubmit)="FGAgregarTiposDePuntosDeControl.valid &&  enviarDatos()" #formulario>
    <ng-container >
        <mat-card class="cardconfiguracion">
            <mat-card-header>
                <mat-card-title>
                    <span>
                        Agregar Tipo De Punto De Control
                    </span>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field appearance="fill"  class="form-comtrol">
                    <mat-label>Nombre Tipo De Punto De Control:</mat-label>
                    <input matInput   formControlName="nombretipodepuntodecontrol" [readonly]="false">
                </mat-form-field>
                <input type="hidden" formControlName="idTipoDePuntoDeControl" [readonly]="false">
                <br>
                <br>
            </mat-card-content>
            <mat-card-footer>
                <button *ngIf="idTipoDePuntoDeControl <= 0" mat-button color="primary"  (submit)="enviarDatos()" >
                    Agregar
                </button>
                <button *ngIf="idTipoDePuntoDeControl > 0" mat-button color="primary" (submit)="enviarDatos()" >
                    Editar
                </button>
                
            </mat-card-footer>
        </mat-card>
        
    </ng-container>
</form>
