<form [formGroup]="FGAgregarEstadosDeLasOfertas" (ngSubmit)="FGAgregarEstadosDeLasOfertas.valid &&  enviarDatos()" #formulario>
    <ng-container >
        <mat-toolbar>
            <h1 mat-dialog-title>Agregar Estado De La Oferta</h1>
            <div class="menu-spacer"></div>
            
        </mat-toolbar>
        
        <mat-dialog-content class="mat-typography">
            
            <mat-form-field appearance="fill"  class="Tamanho100Porciento">
                <mat-label>Nombre Estado De La Oferta:</mat-label>
                <input matInput class="Tamanho100Porciento"  formControlName="nombreEstadoDeLaOferta" [readonly]="false">
            </mat-form-field>

            <input type="hidden" formControlName="idEstadoDeLaOferta" [readonly]="false">
            
        </mat-dialog-content>
        
        
        <mat-dialog-actions align="end">
            <button *ngIf="idEstadoDeLaOferta <= 0" mat-raised-button color="primary"   (submit)="enviarDatos()">
                Agregar
            </button> 
            <button *ngIf="idEstadoDeLaOferta > 0" mat-raised-button color="primary" (submit)="enviarDatos()" >
                Editar
            </button>
            <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
            
        </mat-dialog-actions>
        
    </ng-container>
</form>

