<form [formGroup]="FGAgregarTiposDeRoles" (ngSubmit)="FGAgregarTiposDeRoles.valid &&  enviarDatos()" #formulario>
    <ng-container >
        <mat-toolbar>
            <h1 mat-dialog-title>Agregar Tipo De Rol</h1>
            <div class="menu-spacer"></div>
            
        </mat-toolbar>
        
        <mat-dialog-content class="mat-typography">
            <mat-form-field appearance="fill"  class="Tamanho100Porciento">
                <mat-label>Nombre Tipo De Rol:</mat-label>
                <input matInput class="Tamanho100Porciento"  formControlName="nombretipoderol" [readonly]="false">
            </mat-form-field>
            <input type="hidden" formControlName="idTipoDeRol" [readonly]="false">
            
        </mat-dialog-content>
        
        
        <mat-dialog-actions align="end">
            <button *ngIf="idTipoDeRol <= 0" mat-raised-button color="primary"   (submit)="enviarDatos()">
                Agregar
            </button> 
            <button *ngIf="idTipoDeRol > 0" mat-raised-button color="primary" (submit)="enviarDatos()" >
                Editar
            </button>
            <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
            
        </mat-dialog-actions>
        
    </ng-container>
</form>