<mat-card class="example-card" >
    <mat-card-header >
      <mat-card-title >
        <mat-toolbar>
            <span>Administrar Menus</span>
            <div class="menu-spacer"></div>
            <span  class="btn-derecha" >
                <button   mat-raised-button color="primary" (click)="AbrirModalMenu(0)">Agregar</button>
            </span>
        </mat-toolbar>
        
        
        
      </mat-card-title>
      <mat-card-subtitle >
        <br>
        <form>
            <mat-form-field class="Tamanho100Porciento" >
                <mat-label>Filtro de Busqueda:</mat-label>
                <input matInput #txtFiltro name="txtFiltro" [(ngModel)]="filtroBusqueda" (input)="search($any($event))">
            </mat-form-field>
        </form>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="nombre" sticky>
                <th mat-header-cell *matHeaderCellDef> Nombre Menu </th>
                <td mat-cell *matCellDef="let element"> 
                    {{element.nombre}}
                    
                </td>
            </ng-container>

            <ng-container matColumnDef="idMenuPadre">
                <th mat-header-cell *matHeaderCellDef> Menu Padre </th>
                <td mat-cell *matCellDef="let element"> 
                    {{encontrarNombreMenuPadre(element.idMenuPadre)}}
                </td>
            </ng-container>
        

            <ng-container matColumnDef="nombreController">
                <th mat-header-cell *matHeaderCellDef> Nombre Controller </th>
                <td mat-cell *matCellDef="let element"> 
                    {{element.nombreController}}
                </td>
            </ng-container>

            <ng-container matColumnDef="nombreAction">
                <th mat-header-cell *matHeaderCellDef> Nombre Action </th>
                <td mat-cell *matCellDef="let element"> 
                    {{element.nombreAction}}
                </td>   
            </ng-container>

            <ng-container matColumnDef="activo"  >
                <th mat-header-cell *matHeaderCellDef> Activo </th>
                <td mat-cell *matCellDef="let element"> 
                    <mat-icon *ngIf="element.activo" color="tiene">check</mat-icon>
                    <mat-icon *ngIf="!element.activo" color="notiene">close</mat-icon>
                </td>
            </ng-container>
            <ng-container matColumnDef="esNodo">
                <th mat-header-cell *matHeaderCellDef> Es Nodo </th>
                <td mat-cell *matCellDef="let element"> 
                    <mat-icon *ngIf="element.esNodo" color="tiene">check</mat-icon>
                    <mat-icon *ngIf="!element.esNodo" color="notiene">close</mat-icon>
                </td>
            </ng-container>
        
            <ng-container matColumnDef="borrar" stickyEnd>
                <th mat-header-cell *matHeaderCellDef >  </th>
                <td  mat-cell *matCellDef="let element"> 
                    <mat-button-toggle-group style="border: none;" >
                        <button type="button" matTooltip="Editar"  mat-button  color="primary" aria-label="editar departamento" (click)="AbrirModalMenu(element.idMenu)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button type="button"  matTooltip="Borrar" mat-button color="warn" aria-label="borrar Menu" (click)="borrarXId(element.idMenu)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-button-toggle-group>
                    
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{txtFiltro.value}}"</td>
            </tr>
        </table>
    </mat-card-content>
    <mat-card-actions align="end">
        <mat-paginator [pageSizeOptions]="arraypaginator" aria-label="Select pagePayer of _Payers"></mat-paginator>
        
    </mat-card-actions>
  </mat-card>


