@use "@angular/material" as mat;

@import "@angular/material/theming";

@include mat.core();
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  
}

:root {
  --sidenav-width: 300px;
}

.btn-derecha{
  text-align: right;
  margin-right: 0;
}
.menu-spacer {
  flex: 1 1 auto;
}


.mat-mdc-card-header-text{
  width:100%;
}
.mat-column-editar {
  text-align: right;
  max-width: 55px;
  justify-content: flex-end;
  margin-right: 0;
}
.mat-column-borrar {
  text-align: right;
  width: 10px;
  justify-content: flex-end;
  margin-right: 0;
}




.Tamanho100Porciento{
  width: 100%;
}
.mat-success {
  color: #fff !important;
  background-color: #28a745 !important;
}
.mat-success-out {
  color: #28a745 !important;
  background-color: #fff !important;
}
.mat-success[disabled] {
  background-color: rgba(0, 0, 0, 0.12) !important;
}

.mat-aceptar {
  color: #fff !important;
  background-color: #284ea7 !important;
}
.mat-aceptar[disabled] {
  background-color: rgba(0, 0, 0, 0.12) !important;
}
.mat-tiene {
  color: #284ea7 !important;
  background-color: #fff !important;
}
.mat-notiene {
  color: #df1818 !important;
  background-color: #fff !important;
}
.ngx-material-timepicker-overlay-container {
  position: fixed !important;
  z-index: 9999;
}

$angular-primary: mat.define-palette(mat.$teal-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

mat-sidenav-container{
  height: 85vh;
  max-height: 100%;
}

@include mat.all-component-themes($angular-default-theme);

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
}
.table 
{
    table-layout:fixed;
    max-width: var(--sidenav-width);
}


.loading-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  z-index: 9999;
}
.mat-mdc-dialog-content{
  height: calc(100% - 10px);
  max-height: unset
}
.mat-dialog-override {
  mat-dialog-container {
    display: flex;
    flex-direction: column;

    mat-dialog-actions {
      margin-bottom: auto;
    }
  }
}
.mat-mdc-dialog-actions {
  justify-content: flex-end;
}
.mat-card {
  height: 90% !important;
  position: relative;
  overflow: hidden;
}

.mat-card-content {
  max-height: 100%;
  position: absolute;
  overflow: auto;
}