@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  
}

:root {
  --sidenav-width: 400px;
}

.btn-derecha{
  text-align: right;
  margin-right: 0;
}
.menu-spacer {
  flex: 1 1 auto;
}


.mat-mdc-card-header-text{
  width:100%;
}
.mat-column-editar {
  text-align: right;
  max-width: 5px;
  justify-content: flex-end;
  margin-right: 0;
}
.mat-column-borrar {
  text-align: right;
  max-width: 10px;
  justify-content: flex-end;
  margin-right: 0;
}

.table-container {
  
  overflow: auto;
}

.Tamanho100Porciento{
  width: 100%;
}
.mat-success {
  color: #fff !important;
  background-color: #28a745 !important;
}
.mat-success-out {
  color: #28a745 !important;
  background-color: #fff !important;
}
.mat-success[disabled] {
  background-color: rgba(0, 0, 0, 0.12) !important;
}

.mat-aceptar {
  color: #fff !important;
  background-color: #284ea7 !important;
}
.mat-aceptar[disabled] {
  background-color: rgba(0, 0, 0, 0.12) !important;
}
.mat-tiene {
  color: #284ea7 !important;
  background-color: #fff !important;
}
.mat-notiene {
  color: #df1818 !important;
  background-color: #fff !important;
}
.ngx-material-timepicker-overlay-container {
  position: fixed !important;
  z-index: 9999;
}